<div class="hero">
  <h1 class="container_text">農ライフ<i class="fas fa-leaf"></i></h1>
  <p>あなたも農業はじめてみませんか？</p>
    <div class="mouse">
        <span></span>
    </div>
</div>
    <div class="center-container">
      
    </div>
<div class="container">
  <div class="container-square" id="about">
    <div>
      <h3 class="container_about">農ライフ<i class="fas fa-leaf"></i></h3><br>
      <p class="about_p">
        「農ライフ」は、空いている農地を持っている人と<br>
        その土地で植物や農作物を育てたい人をマッチングするガーデンシェアです。<br>
        現在日本には、農家の高齢化、担い手不足などにより<br>
        維持・管理出来なくなった農地や使われていない遊休地が多くあり<br>
        今もなお増え続けています。<br>
        また、新しく農業を始めたいと思った時<br>
        一番大きな壁となるのが農地の確保でしょう。<br>
        「農ライフ」は農業をしたい人と、空いている農地を結び<br>
        農地を保全し、日本農業の発展に貢献できると考えています。
        </p>
    </div>
  </div>
</div>