// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.date_ago{
  margin: 0;
  padding-top: 0.5vw;
  font-size: 0.8vw;
}