// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts_container{
  width: 80%;
  margin: 0 auto;
}
.sprout {
  width: 100%;
  text-align: center;
  background: white;
  position: relative;
  padding: 10px 0 10px;
  margin-bottom: 40px;
  margin-top: 70px;
}
.posts_front{
  font-size: 2.7vw;
  line-height: 150%;
  color: #ed6f2e;
  background: -webkit-linear-gradient(to right, #ff4200 40%, #edac2e 60%);
  background-clip: text;
  text-align: center;
}
.myfarmer_area__box {
  padding: 60px 0;
  border-bottom: solid 1px #ccc;
  border-radius: 15px;
  padding: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.posts_photo {
  width: 27%;
}
.posts_photo img {
  width: 100%;
}
.green-btn {
  text-align: center;
  margin-bottom: 15px;
  display: block;
  background: rgb(104,183,135);
  background-size: 16px 16px;
  padding: 24px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 120%;
  text-decoration: none;
  box-shadow: 0 5px 0 #023a21;
  border-radius: 6px;
  transition: .4s;
  
}
.posts_description {
  width: 71%;
  margin-left: auto;
}
.posts_description_title {
  font-size: 180%;
  padding-bottom: 8px;
  padding-left: 10px;
}
.posts_description_address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 2px #efefef;
  padding: 10px 8px;
}
.posts_description_address dt {
  width: 15%;
  font-weight: bold;
  color: black;
}
.posts_description_address dd {
  width: 84%;
  margin-left: auto;
  font-size: 2.7vh;
  color: black;
  font-weight: bold;
}
.posts_description_list {
  display: flex;
  border-bottom: solid 2px #efefef;
  padding: 10px 8px;
  text-align: center;
}
.posts_description_list li {
  width: 50%;
  list-style: none;
  border-right: solid 2px #eee;
}
.posts_description_fee dt {
  text-align: left;
  font-weight: bold;
  color: black;
}
.posts_description_fee dd {
  font-size: 2.7vh;
  font-weight: bold;
  color: black;
}
.posts_description_menseki dt{
  padding-left: 30px;
  text-align: left;
  font-weight: bold;
  color: black;
}
.posts_description_menseki dd{
  font-size: 2.7vh;
  font-weight: bold;
  color: black;
}
.contents-wrapper{
  border-bottom: solid 1px aliceblue;
  padding:20px;
}
.top-contents{
  font-size: 25px;
  margin:0;
}
.contents-row{
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
.span-contents{
  font-weight: bold;
  color: black;
  font-size: 2vw;
  width: 25%;
}
.myfarmer_area__box_new {
  padding: 60px 0;
  border-bottom: solid 1px #ccc;
  border-radius: 15px;
  padding: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: white;
  flex-direction: column;
}
#p_name{
  font-size: 2vw;
  width: 60%;
}
#p_adress{
  font-size: 2vw;
  width: 60%;
}
#p_menseki{
  font-size: 2.5vh;
  width: 60%;
}
#p_price{
  font-size: 2.5vh;
  width: 60%;
}
#p_introduction{
  font-size: 2vw;
  width: 60%;
}
.form_inner{
  width: 95%;
  margin: auto;
  text-align: center;
}
.form_contents{
  width: 75%;
}
.form_btn{
  width: 100px;
  font-size: 2.2vw;
}
.farm_show{
  width: 85%;
  margin: 0 auto;
}
.show_contents{
  display: flex;
  box-sizing: border-box;
}
.show_image{
  max-width: 66.666667%;
  padding-right: 15px;
}
.show_farm_image{
  width: 100%;
}
.show_reservations {
  border-radius: 5px;
  background: white;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 15px;
}
.farm_show_top {
  padding: 1em 1.5em;
  margin: 2em 0;
  border-left: solid 10px #0b3661;
  color:#000000;
}
.farm_show_top h3{
  font-size: 2.5vw;
  margin-top: 15px;
  margin-bottom: 15px;
}
.farm_show_info {
  padding: 1em 6vw;
  margin: 2em 0;
  background-color:#ffffff;
  border: dotted 6px #0b3661;
  color:#000000;
}
.farm_show_info h4{
  text-align: center;
  font-size: 2.7vw;
  margin-top: 10px;
  margin-bottom: 3vh;
}
.farm_show_info p {
  margin: 0; 
  padding: 0;
  font-size: 2vw;
  padding-bottom: 5vh;
}
.fa-pagelines{
  color: green;
}
.show_table{
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}
th {
  padding:1.6%;
}
.show_table th{
  background-color: #dfeec1;
  color:#000000;
  width:10%;
  font-size: 1.7vw;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.show_table td{
  width:30%;
  color:#000000;
  font-weight: bold;
  font-size: 1.7vw;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-left: 3%;
}
.span-contents_r{
  font-weight: bold;
  color: black;
  font-size: 1vw;
  width: 40%;
}
.form_contents_r{
  width: 75%;
  padding-left: 30px;
}
.reser_title{
  text-align: center;
  color: black;
  font-size: 1.4vw;
  margin-bottom: 0;
}
.form_btn_r{
  font-size: 1,3vw;
}
.top-contents_r{
  text-align: center;
}
.posts_description_re{
  width: 100%;
}
.posts_photo_re img {
  width:100%;
}
.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
  display: flex;
}

input#search{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
      opacity: 0;
    }
    &:-ms-placeholder {
    transition: opacity 0.45s ease; 
    opacity: 0;
    }    
  }
}