<header class="main_h">
    <div class="row">
        <a class="logo" href="#">農ライフ<i class="fas fa-leaf"></i></a>
        <div class="mobile-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav>
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#">新規登録</a></li>
            <li><a href="#">ログイン</a></li>
          </ul>
        </nav>
    </div>
</header>

